.ant-drawer-footer {
  position: relative;
  .btn {
    &:focus {
      outline: none !important;
    }

    &.touched {
      border-color: #ff3333;
      // background-color: #ffa033;
      &:hover {
        background-color: #ffb968;
      }
    }
  }
}


.btn-delete {
  position: absolute;
  right: 9px;
}