.field-order-date {
  .ant-form-item-control {
    display: none;
  }

  .ant-picker {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  z-index: 999;
  background-color: #eee;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
  border-radius: inherit;
}
