.card {
  margin-bottom: 1.3rem;
}

.po-status-indicator {
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(95, 95, 95);
  color: #fff;
  border-radius: 2px;
  padding: 2px;
  line-height: normal;
  &.parked {
    background-color: rgb(95, 95, 95);
  }

  &.unapproved {
    background-color: rgb(255, 127, 8);
  }

  &.placed,
  &.partial_served {
    background-color: #d3b50d;
  }

  &.complete {
    background-color: #0dd338;
  }
  &.costed,
  &.costing {
    background-color: #0d73d3;
  }
}
