// this is shared mixins file for all components from the app,
// there you can easily add your own variables / imports or redefine
// existing without touching default packages for future updates

@import 'src/@vb/css/mixins.scss'; // import default mixins

// $text: #000;
// $success: green;

.ant-drawer-body {
    background-color: #e1e1e1;
}

.scrollbar-container .ant-menu-item-selected a,
.scrollbar-container .ant-menu-item-selected a:hover {
    color: #fff;
}